<template>
  <div>
    <form @submit.prevent="storePerson">
      <input type="text" placeholder="tel" v-mask="'##/##/####'" v-model="models.person.phone">
      <div class="error" v-if="!$v.models.person.phone.required">Field is required</div>
      <br>
      <input type="text" placeholder="dinero" v-model="models.person.money">
      <div class="error" v-if="!$v.models.person.money.required">Field is required</div>
      <br>
      <div class="error" v-if="!$v.models.person.money.numeric">El campo debe ser numérico</div>
      <br>
      <input type="text" placeholder="cp" v-model="models.person.cp">
      <button @click="getColonies">Buscar</button>
      <br>
      <button type="submit">Guardar</button>
    </form>
  </div>
</template>
<script>
import { mask } from 'vue-the-mask'

import { validationMixin } from 'vuelidate'
import { required, numeric } from 'vuelidate/lib/validators'

import { RepositoryFactory } from "./repository/repository-factory"
const RepositoryColonias = RepositoryFactory.get("colonias")

export default {
  name: 'app',
  directives: { mask },
  mixins: [ validationMixin ],
  data () {
    return {
      ui: {

      },
      models: {
        person: {
          phone: '',
          money: '',
          cp: ''
        }
      }
    }
  },
  validations: {
    models: {
      person: {
        phone: {
          required
        },
        money: {
          required,
          numeric
        }
      }
    }
  },
  methods: {
    storePerson () {
      this.$v.models.person.$touch()

      if (this.$v.models.person.$invalid) {
        return;
      }

      const { person } = this.models;
      alert(JSON.stringify(person))
    },
    getColonies () {
      const { person } = this.models;

      RepositoryColonias.getColonies(person.cp)
        .then(res => {
          alert(JSON.stringify(res.data))
        })
        .catch(err => {
          alert(JSON.stringify(err))
        })
    }
  }
}
</script>

<style>
</style>
